<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Svátky.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A93A34C209A8AF10098775A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A93A360209A8AF20098775A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A93A36B209A8AF20098775A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
